@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: "Roboto";
}

.lists {
  margin-top: -150px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

.screen-initial {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.screen-initial > #gif-loading {
  margin-right: 100px;
}
